[package]
name = "decork"
version = "0.1.0"
edition = "2024"

[dependencies]
base64 = "0.22.1"
structopt = "0.3.26"
url = "2.5.8"

[profile.release]
opt-level = "z"
lto = true
codegen-units = 1
strip = true
panic = "abort"
